<div class="row">
	<div class="col-md-6">
	<h5> Play with Noblyn, just paste this code </h5>
	<h3> {{code}} </h3>
	
	<button class= "btn btn-primary">COPY</button>		
	</div>
	<div class="col-md-6">
		<h5> Don't have the app getting there </h5>
		<div class="row">
		  <a href="" class="col-md-6">
		   <img src="https://api.noblyn.com/assets/img/badges/googlePlay.png" class="img-responsive">
		  </a>
		  <a href="" class="col-xs-6">
		  	<img src="https://api.noblyn.com/assets/img/badges/appStore.svg" class="img-responsive">
		  </a>
		</div>
	</div>
		
</div>